

    
    <h1 class="page-title">Puzzle #<%= @puzzle.id %></h1>
    <h2 class="puzzle-solution"><%= @puzzle.solution %></h2>

    <div class="sudoku-game">
      <div class="sudoku-board">

      <% (0..8).each { |i| %>

        <div class="sudoku-row">

        <% (0..8).each { |j| %>

          <div class="sudoku-cell">
          <% thisnum = @puzzle.problem[9 * i + j] %>
          <% if thisnum != "0" %>
            <div class="sudoku-cell__prefilled"><%= thisnum %></div>
          <% end %>
          </div>
        <% } %>
        </div>

      <% } %>
      </div>

      <div class="control-pad">
        <button class="control-pad__button control-pad__number">Number</button>
        <button value="1" class="control-pad__button control-pad__digit control-pad__1">1</button>
        <button value="2" class="control-pad__button control-pad__digit control-pad__2">2</button>
        <button value="3" class="control-pad__button control-pad__digit control-pad__3">3</button>
        <button class="control-pad__button control-pad__scratch">Scratch</button>
        <button value="4" class="control-pad__button control-pad__digit control-pad__4">4</button>
        <button value="5" class="control-pad__button control-pad__digit control-pad__5">5</button>
        <button value="6" class="control-pad__button control-pad__digit control-pad__6">6</button>
        <button class="control-pad__button control-pad__color">Color</button>
        <button value="7" class="control-pad__button control-pad__digit control-pad__7">7</button>
        <button value="8" class="control-pad__button control-pad__digit control-pad__8">8</button>
        <button value="9" class="control-pad__button control-pad__digit control-pad__9">9</button>
        <button class="control-pad__button control-pad__clear">Clear</button>
        <button class="control-pad__button control-pad__reset">Reset</button>
      </div>
    </div>

    <%= javascript_pack_tag 'puzzles' %>

